@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

/*--
    02.1 Header Top
-----------------------------------------*/
.header-top, .header-bottom {
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-top .justify-content-between>[class*="col"] {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: auto;
}

.header-top .justify-content-center>[class*="col"]:first-child {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header-top .justify-content-center>[class*="col"]:nth-child(2) {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header-top .justify-content-center [class*="col"]:last-child {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/*-- Header Top Two --*/
@media only screen and (max-width: 767px) {
    .header-top-two .row>[class*="col"]:nth-child(2) {
        margin-right: auto;
    }
}

@media only screen and (max-width: 479px) {
    .header-top-two .row>[class*="col"]:nth-child(2) {
        margin-right: 0;
    }
}

/*-- Header Top Three --*/
@media only screen and (max-width: 767px) {
    .header-top-three .row>[class*="col"]:nth-child(2) {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
}

@media only screen and (max-width: 767px) {
    .header-top-three .row>[class*="col"]:nth-child(3) {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
        flex: 1 0 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

/*-- Header Top Border --*/
.header-top-border {
    border-bottom: 1px solid #e8e8e8;
}

/*-- Header Links --*/
.header-links {
    overflow: hidden;
}

.header-links a {
    color: #444444;
    text-transform: uppercase;
    line-height: 30px;
    margin-right: 30px;
    display: block;
    float: left;
}

.header-links a:hover {
    color: #202020;
}

.header-links a:last-child {
    margin-right: 0;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-links a {
        margin-right: 15px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-links a {
        margin-right: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .header-links a {
        margin-right: 15px;
    }
}

.header-links a img {
    margin-right: 10px;
}

@media only screen and (max-width: 479px) {
    .header-links a img {
        margin-right: 5px;
    }
}

.header-links a span {
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-links a span {
        font-size: 12px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-links a span {
        font-size: 12px;
    }
}

@media only screen and (max-width: 767px) {
    .header-links a span {
        font-size: 11px;
    }
}

/*-- Header Account Links --*/
.header-account-links {
    overflow: hidden;
}

.header-account-links a {
    color: #444444;
    text-transform: uppercase;
    line-height: 30px;
    margin-right: 30px;
    display: block;
    float: left;
}

.header-account-links a:last-child {
    margin-right: 0;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-account-links a {
        margin-right: 15px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-account-links a {
        margin-right: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .header-account-links a {
        margin-right: 15px;
        line-height: 24px;
    }
}

.header-account-links a i, .header-links a i {
    /* display: block;
    background-color: #202020; */
    font-size: 18px;
    color: #a6a6a6;
    float: left;
    /* width: 30px;
    height: 30px; */
    border-radius: 50px;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
    /* -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; */
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-account-links a i {
        display: block !important;
    }
}

@media only screen and (max-width: 767px) {
    .header-account-links a i {
        display: block !important;
        margin: 0;
        width: 24px;
        height: 24px;
        font-size: 11px;
        line-height: 24px;
    }
}

@media only screen and (max-width: 479px) {
    .header-account-links a i {
        margin-right: 7px;
    }
}

.header-account-links a span {
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-account-links a span {
        font-size: 12px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-account-links a span {
        font-size: 12px;
    }
}

@media only screen and (max-width: 767px) {
    .header-account-links a span {
        display: none;
        font-size: 11px;
        padding-left: 10px;
    }
}

@media only screen and (max-width: 479px) {
    .header-account-links a span {
        display: block;
        padding: 0;

    }
}

/* .header-account-links a:hover {
    color: #202020;
}

.header-account-links a:hover i {
    background-color: #f5d730;
    color: #202020;
} */

/*-- Header Shop Links --*/
.header-shop-links a {
    color: #444444;
    float: left;
    margin-right: 30px;
}

.header-shop-links a:hover {
    color: #202020;
}

.header-shop-links a:last-child {
    margin-right: 0;
}

@media only screen and (max-width: 479px) {
    .header-shop-links a {
        margin-right: 10px;
    }
}

.header-shop-links a i {
    font-size: 24px;
    line-height: 30px;
    display: block;
    float: left;
}

@media only screen and (max-width: 479px) {
    .header-shop-links a i {
        font-size: 20px;
    }
}

.header-shop-links a .number {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    /* color: #202020;
    background-color: #f5d730; */
    display: block;
    overflow: hidden;
    text-align: center;
    line-height: 20px;
    margin-top: 5px;
    position: relative;
    /* left: -7px;



    position: absolute; */
    top: -10px;
    right: 5px;
    /* height: 1.6363636364em;
    width: 1.6363636364em; */
    background-color: #0a58ca;
    /* font-size: 11px; */
    color: #fff;

}

.header-shop-links a.header-cart .number {
    left: -5px;
    top: -9px;
}

@media only screen and (max-width: 479px) {
    .header-shop-links a .number {
        width: 16px;
        height: 16px;
        margin-top: 7px;
        font-size: 10px;
        line-height: 16px;
    }
}

.header-shop-links a.header-wishlist {
    margin-right: 23px;
}

@media only screen and (max-width: 479px) {
    .header-shop-links a.header-wishlist {
        margin-right: 3px;
    }
}



/*--
    02.2 Header Bottom
-----------------------------------------*/

.header-bottom .justify-content-between>[class*="col"] {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: auto;
}

.header-bottom .justify-content-center>[class*="col"]:first-child {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header-bottom .justify-content-center>[class*="col"]:nth-child(2) {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header-bottom .justify-content-center [class*="col"]:last-child {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-bottom>.container>.row>.col:nth-child(3), .header-bottom>.container>.row>[class*="col-"]:nth-child(3), .header-bottom>.container-fluid>.row>.col:nth-child(3), .header-bottom>.container-fluid>.row>[class*="col-"]:nth-child(3) {
        margin-right: 50px;
    }
}

@media only screen and (max-width: 767px) {
    .header-bottom>.container>.row>.col:nth-child(3), .header-bottom>.container>.row>[class*="col-"]:nth-child(3), .header-bottom>.container-fluid>.row>.col:nth-child(3), .header-bottom>.container-fluid>.row>[class*="col-"]:nth-child(3) {
        margin-right: 50px;
    }
}

@media only screen and (max-width: 479px) {
    .header-bottom>.container>.row>.col:nth-child(3), .header-bottom>.container>.row>[class*="col-"]:nth-child(3), .header-bottom>.container-fluid>.row>.col:nth-child(3), .header-bottom>.container-fluid>.row>[class*="col-"]:nth-child(3) {
        margin-right: 40px;
    }
}

@media only screen and (max-width: 479px) {
    .header-bottom .header-call-us {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-bottom.header-bottom-three>.container>.row>.col:nth-child(2), .header-bottom.header-bottom-three>.container>.row>[class*="col-"]:nth-child(2), .header-bottom.header-bottom-three>.container-fluid>.row>.col:nth-child(2), .header-bottom.header-bottom-three>.container-fluid>.row>[class*="col-"]:nth-child(2) {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        width: auto;
        -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
        justify-content: flex-start !important;
    }
}

@media only screen and (max-width: 767px) {
    .header-bottom.header-bottom-three>.container>.row>.col:nth-child(2), .header-bottom.header-bottom-three>.container>.row>[class*="col-"]:nth-child(2), .header-bottom.header-bottom-three>.container-fluid>.row>.col:nth-child(2), .header-bottom.header-bottom-three>.container-fluid>.row>[class*="col-"]:nth-child(2) {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        width: auto;
        -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
        justify-content: flex-start !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-bottom.header-bottom-three>.container>.row>.col:nth-child(3), .header-bottom.header-bottom-three>.container>.row>[class*="col-"]:nth-child(3), .header-bottom.header-bottom-three>.container-fluid>.row>.col:nth-child(3), .header-bottom.header-bottom-three>.container-fluid>.row>[class*="col-"]:nth-child(3) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
    }
}

@media only screen and (max-width: 767px) {
    .header-bottom.header-bottom-three>.container>.row>.col:nth-child(3), .header-bottom.header-bottom-three>.container>.row>[class*="col-"]:nth-child(3), .header-bottom.header-bottom-three>.container-fluid>.row>.col:nth-child(3), .header-bottom.header-bottom-three>.container-fluid>.row>[class*="col-"]:nth-child(3) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
    }
}

@media only screen and (max-width: 767px) {
    .header-bottom.header-bottom-three .header-advance-search {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .header-bottom.header-bottom-three .header-advance-search .input {
        border-right: 0px;
        width: 160px;
    }
}

@media only screen and (max-width: 767px) {
    .header-bottom.header-bottom-three .header-advance-search .select {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .header-bottom.header-bottom-three .header-advance-search .submit {
        margin-left: 0;
    }
}

/*-- Logo --*/
.header-logo a {
    /* position: relative;
    vertical-align: top;
    display: inline-block; */
    font-family: 'Exo 2', sans-serif;
    font-size: 24px;
}

/* 
.header-logo img.theme-dark {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
} */

/*-- Sticky Header --*/
.header-sticky.is-sticky {
    -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100px, 0)
    }

    to {
        opacity: 1;
        transform: none
    }
}
