<div class="main-wrapper">
  <!-- partial:header -->
  <app-header></app-header>
  <!-- partial -->

  <div class="page-wrapper">
    <div class="content">
      <!-- Spinner for lazyload modules -->
      <div *ngIf="isLoading" class="spinner-wrapper">
        <div class="loader">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div contentAnimate *ngIf="!isLoading">
        <router-outlet (activate)="onActivate($event)" ></router-outlet>
      </div>
    </div>

    <!-- partial:footer -->
    <app-footer></app-footer>
    <!-- partial -->
  </div>
</div>