<header>
    <!-- Header Top Start -->
    <div class="header-top header-top-border pt-10 pb-10">
        <div class="container">
            <div class="row align-items-center justify-content-between">

                <div class="col mt-10 mb-10">
                    <!-- Header Links Start -->
                    <div class="header-links">
                        <a href="#">
                            <i class="fa-solid fa-truck-moving"></i>
                            <span>Track your order</span>
                        </a>
                        <a href="#">
                            <i class="fa-solid fa-location-dot"></i>
                            <span>Locate Store</span>
                        </a>
                    </div>
                    <!-- Header Links End -->
                </div>

                <div class="col order-2 order-xs-2 order-lg-12 mt-10 mb-10">
                    <!-- Header Account Links Start -->
                    <div class="header-account-links">
                        <a href="#">
                            <i class="fa-solid fa-circle-question"></i>
                            <span>Help</span>
                        </a>
                        <a routerLink="/auth">
                            <i class="fa-solid fa-right-to-bracket"></i>
                            <span>Login</span>
                        </a>
                    </div>
                    <!-- Header Account Links End -->
                </div>

            </div>
        </div>
    </div><!-- Header Top End -->
    <!-- Header Bottom Start -->
    <div class="header-bottom header-bottom-one header-sticky" #headerSticky [class.is-sticky]="sticky">
        <div class="container">
            <div class="row align-items-center justify-content-between">

                <div class="col-lg-2 col-sm-8 col-8 mt-15 mb-15">
                    <!-- Logo Start -->
                    <div class="header-logo">
                        <a routerLink="/products">
                            Store
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                    </div><!-- Logo End -->
                </div>
                <div class="col-lg-3 col-sm-3 col-4 order-lg-last">
                    <!-- Header Shop Links Start -->
                    <div class="header-shop-links float-end">

                        <!-- Wishlist -->
                        <a href="#" class="header-wishlist">
                            <i class="fa-solid fa-heart text-danger"></i>
                            <span class="number">0</span>
                        </a>
                        <!-- Cart -->
                        <a href="#" class="header-cart">
                            <i class="fa-solid fa-bag-shopping"></i>
                            <span class="number">0</span>
                        </a>

                    </div><!-- Header Shop Links End -->
                </div>

                <div class="col-lg-6  order-12 order-xs-12 order-lg-2 mt-10 mb-10">
                    <div class="">
                        <form action="#" class="">
                          <div class="input-group">
                            <input type="search" class="form-control" style="width:55%" placeholder="Search">
                            <select class="form-select">
                              <option value="">All type</option>
                              <option value="codex">Special</option>
                              <option value="comments">Only best</option>
                              <option value="content">Latest</option>
                            </select>
                            <button class="btn btn-warning">
                                <i class="fa fa-search"></i>
                            </button>
                          </div> <!-- input-group end.// -->
                        </form>
                    </div>
                </div>


                <!-- Mobile Menu -->
                <div class="mobile-menu order-12 d-block d-lg-none col"></div>

            </div>
        </div>
    </div><!-- Header Bottom End -->
</header>