@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

/*--
    02.1 Header Top
-----------------------------------------*/
.header-top, .header-bottom {
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-top .justify-content-between>[class*="col"] {

    flex-grow: 0;
    flex-basis: auto;
    width: auto;
}


/*-- Header Top Border --*/
.header-top-border {
    border-bottom: 1px solid #e8e8e8;
}

/*-- Header Links --*/
.header-links {
    overflow: hidden;
}

.header-links a {
    color: #444444;
    text-transform: uppercase;
    line-height: 30px;
    margin-right: 30px;
    display: block;
    float: left;
}

.header-links a:hover {
    color: #202020;
}

.header-links a:last-child {
    margin-right: 0;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-links a {
        margin-right: 15px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-links a {
        margin-right: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .header-links a {
        margin-right: 15px;
    }
}

.header-links a img {
    margin-right: 10px;
}

@media only screen and (max-width: 479px) {
    .header-links a img {
        margin-right: 5px;
    }
}

.header-links a span {
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-links a span {
        font-size: 12px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-links a span {
        font-size: 12px;
    }
}

@media only screen and (max-width: 767px) {
    .header-links a span {
        font-size: 11px;
    }
}

/*-- Header Account Links --*/
.header-account-links {
    overflow: hidden;
}

.header-account-links a {
    color: #444444;
    text-transform: uppercase;
    line-height: 30px;
    margin-right: 30px;
    display: block;
    float: left;
}

.header-account-links a:last-child {
    margin-right: 0;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-account-links a {
        margin-right: 15px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-account-links a {
        margin-right: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .header-account-links a {
        margin-right: 15px;
        line-height: 24px;
    }

    .header-account-links a:last-child {
        margin-left: 67px;
    }
}

.header-account-links a i, .header-links a i {

    font-size: 18px;
    color: #a6a6a6;
    float: left;
    border-radius: 50px;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-account-links a i {
        display: block !important;
    }
}

@media only screen and (max-width: 767px) {
    .userProfile-Link img.d-inline.rounded-circle {
        width: 22px;
        height: 22px;
        margin-left: 5px;
        margin-top: 3px;
    }
}

@media only screen and (max-width: 479px) {
    .header-account-links a i {
        margin-right: 7px;
    }
}

.header-account-links a span {
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-account-links a span {
        font-size: 12px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-account-links a span {
        font-size: 12px;
    }
}

@media only screen and (max-width: 767px) {
    .header-account-links a span {
        display: none;
        font-size: 11px;
        padding-left: 8px;
    }

    .input-group {
        margin-top: 7px;
    }

    .input-group input {
        width: 27% !important;
    }
}

@media only screen and (max-width: 479px) {
    .header-account-links a span {
        display: block;
        margin-top: 2px;
        font-size: 13px;
        /* padding: 0; */

    }
}

/*-- Header Shop Links --*/
.header-shop-links a {
    color: #444444;
    float: left;
    margin-right: 30px;
}

.header-shop-links a:hover {
    color: #202020;
}

.header-shop-links a:last-child {
    margin-right: 0;
}

@media only screen and (max-width: 479px) {
    .header-shop-links a {
        margin-right: 10px;
    }
}

.header-shop-links a i {
    font-size: 24px;
    line-height: 30px;
    display: block;
    float: left;
}

@media only screen and (max-width: 479px) {
    .header-shop-links a i {
        font-size: 20px;
    }
}

.header-shop-links a .number {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    display: block;
    overflow: hidden;
    text-align: center;
    line-height: 20px;
    margin-top: 5px;
    position: relative;
    top: -10px;
    right: 5px;
    background-color: #202020;
    color: #fff;

}

.header-shop-links a.header-cart {
    color: #ff8100;
}

.header-shop-links a.header-cart .number {
    left: -5px;
    top: -9px;
}

@media only screen and (max-width: 479px) {
    .header-shop-links a .number {
        width: 16px;
        height: 16px;
        margin-top: 7px;
        font-size: 10px;
        line-height: 16px;
    }
}

.header-shop-links a.header-wishlist {
    margin-right: 23px;
}


@media only screen and (max-width: 479px) {
    .header-shop-links a.header-wishlist {
        margin-right: 3px;
    }
}

/*-- Logo --*/
.header-logo a {
    font-family: 'Exo 2', sans-serif;
    font-size: 24px;
}

.header-logo a i {
    color: #ff8100;
}

/*-- Sticky Header --*/
.header-sticky.is-sticky {
    -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100px, 0)
    }

    to {
        opacity: 1;
        transform: none
    }
}

