<div class="product">
    <div class="product-image">
        <a style="height: 227px;" routerLink="/products/{{product?.id}}">
             <img [src]="product?.images[0]" alt="Product_image"
                onerror="this.onerror = null;this.src='assets/images/ImageNotFound.png'">
            <img [src]="product?.images[1]" alt="Product_image"
                onerror="this.onerror = null;this.src='assets/images/ImageNotFound.png'">

        </a>
        <p class="product-sale" *ngIf="(product?.id)%3==0">Sale</p>
        <button type="button" class="btn-favourite btn-circle "
            [class.is-favourite]='productInWishList(product)'
            (click)="addProductToWishList(product , $event)">
            <i class="fa-solid fa-heart"></i>
        </button>
    </div>
    <div class="product-content">
        <a class="product-name d-flex justify-content-between align-items-center"
            routerLink="/products/{{product?.id}}">
            <span class="item-title">{{product?.title}}</span>
            <span class="badge badge-pill bg-warning p-1">{{product?.category?.name}}</span>
        </a>

        <ul class="rating-stars">
            <li class="stars-active" style="width: 90%;">
                <img src="assets/images/stars-active.svg" alt="">
            </li>
            <li>
                <img src="assets/images/starts-disable.svg" alt="">
            </li>
        </ul>


        <div class="product-content__footer">
            <div class="product-content__footer-price">
                <h5 class="product-price">${{product?.price}}</h5>
                <span *ngIf="(product?.id)%3==0">$59.99</span>
            </div>
            <span class="product-atc rounded-circle">
                <button type="button" class="btn btn-circle text-muted"
                    (click)="addProductToCart(product)">
                    <i class="fa fa-shopping-cart"></i>
                </button>
            </span>
        </div>
    </div>
</div>
