.modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 99999;
}


.modal-header button.close {
    border: none;
    background: transparent;
    font-size: 26px;
}