@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Oswald:200,300,400,500,600,700");

/*-- Common Style --*/
*, *::after, *::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: #ffffff;
    line-height: 24px;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
    font-family: "Open Sans", sans-serif;
    color: #444444; 
    position: relative;
}

/* h1, h2, h3, h4, h5, h6 {
    color: #202020;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin-top: 0;
}

h1 {
    font-size: 36px;
    line-height: 42px;
}

h2 {
    font-size: 30px;
    line-height: 36px;
}

h3 {
    font-size: 24px;
    line-height: 30px;
}

h4 {
    font-size: 18px;
    line-height: 24px;
}

h5 {
    font-size: 14px;
    line-height: 18px;
}

h6 {
    font-size: 12px;
    line-height: 14px;
} */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 600;
    line-height: 1.2;
    font-style: normal;
}
p:last-child {
    margin-bottom: 0;
}

a, button {
    color: inherit;
    display: inline-block;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
}
/* button:focus , input:focus , .form-control:focus{
    box-shadow: none;
border: none;
} */
a, button, img, input, span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    box-shadow: none;

}

*:focus {
    outline: none !important;
}

a:focus {
    color: inherit;
    outline: none;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

button, input[type="submit"] {
    cursor: pointer;
}

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.padding-y {
    padding-top: 40px;
    padding-bottom: 40px;
}
.padding-y-sm {
    padding-top: 20px;
    padding-bottom: 20px;
}
.btn-warning ,.bg-warning {
    color: #fff;
    background-color: #ff8100 !important;
    border-color: #ff8100;
}
.form-control:focus ,.form-select:focus , .btn:focus {
    box-shadow: none;
}
.text-warning {
    color: #ff8100 !important;
}