
<div class="empty-cart" *ngIf="isCartEmpty">
    <div class="empty-cart__icon">
        <svg class="empty-img-default" width="184" height="152" viewBox="0 0 184 152"
            xmlns="http://www.w3.org/2000/svg">
            <g fill="none" fill-rule="evenodd">
                <g transform="translate(24 31.67)">
                    <ellipse class="empty-img-default-ellipse" cx="67.797" cy="106.89" rx="67.797" ry="12.668">
                    </ellipse>
                    <path class="empty-img-default-path-1"
                        d="M122.034 69.674L98.109 40.229c-1.148-1.386-2.826-2.225-4.593-2.225h-51.44c-1.766 0-3.444.839-4.592 2.225L13.56 69.674v15.383h108.475V69.674z">
                    </path>
                    <path class="empty-img-default-path-2"
                        d="M101.537 86.214L80.63 61.102c-1.001-1.207-2.507-1.867-4.048-1.867H31.724c-1.54 0-3.047.66-4.048 1.867L6.769 86.214v13.792h94.768V86.214z"
                        transform="translate(13.56)"></path>
                    <path class="empty-img-default-path-3"
                        d="M33.83 0h67.933a4 4 0 0 1 4 4v93.344a4 4 0 0 1-4 4H33.83a4 4 0 0 1-4-4V4a4 4 0 0 1 4-4z">
                    </path>
                    <path class="empty-img-default-path-4"
                        d="M42.678 9.953h50.237a2 2 0 0 1 2 2V36.91a2 2 0 0 1-2 2H42.678a2 2 0 0 1-2-2V11.953a2 2 0 0 1 2-2zM42.94 49.767h49.713a2.262 2.262 0 1 1 0 4.524H42.94a2.262 2.262 0 0 1 0-4.524zM42.94 61.53h49.713a2.262 2.262 0 1 1 0 4.525H42.94a2.262 2.262 0 0 1 0-4.525zM121.813 105.032c-.775 3.071-3.497 5.36-6.735 5.36H20.515c-3.238 0-5.96-2.29-6.734-5.36a7.309 7.309 0 0 1-.222-1.79V69.675h26.318c2.907 0 5.25 2.448 5.25 5.42v.04c0 2.971 2.37 5.37 5.277 5.37h34.785c2.907 0 5.277-2.421 5.277-5.393V75.1c0-2.972 2.343-5.426 5.25-5.426h26.318v33.569c0 .617-.077 1.216-.221 1.789z">
                    </path>
                </g>
                <path class="empty-img-default-path-5"
                    d="M149.121 33.292l-6.83 2.65a1 1 0 0 1-1.317-1.23l1.937-6.207c-2.589-2.944-4.109-6.534-4.109-10.408C138.802 8.102 148.92 0 161.402 0 173.881 0 184 8.102 184 18.097c0 9.995-10.118 18.097-22.599 18.097-4.528 0-8.744-1.066-12.28-2.902z">
                </path>
                <g class="empty-img-default-g" transform="translate(149.65 15.383)">
                    <ellipse cx="20.654" cy="3.167" rx="2.849" ry="2.815"></ellipse>
                    <path d="M5.698 5.63H0L2.898.704zM9.259.704h4.985V5.63H9.259z"></path>
                </g>
            </g>
        </svg>
    </div>
    <div class="empty-cart__title">Your cart is empty</div>
    <div class="empty-cart__subtitle">Looks like you haven’t added any items to your cart yet.</div>
    <a routerLink="/" class="btn btn-primary">Continue shopping</a>
</div>


<section class="padding-y " *ngIf="!isCartEmpty">
    <div class="container">
        <div class="row">
            <main class="col-xl-8 col-lg-8">
                <article class="card">
                    <div class="content-body">
                        <h5 class="card-title"> Billing details</h5>
                        <form [formGroup]="checkoutFormGroup">

                            <div class="row">
                                <div class="col-lg-6 mb-3">
                                    <label class="form-label">First name</label>
                                    <input type="text" class="form-control" placeholder="Type here"
                                        formControlName="firstName">
                                    <small *ngIf="checkoutForm?.firstName?.invalid && isSubmitted"
                                        class=" d-block text-danger">
                                        First name is required
                                    </small>
                                </div>

                                <div class="col-lg-6">
                                    <label class="form-label">Last name</label>
                                    <input type="text" class="form-control" placeholder="Type here"
                                        formControlName="lastName">
                                    <small *ngIf="checkoutForm?.lastName?.invalid && isSubmitted"
                                        class=" d-block text-danger">
                                        Last name is required
                                    </small>
                                </div>

                                <div class="col-lg-6 mb-3">
                                    <label class="form-label">Phone</label>
                                    <input type="text" value="+998" class="form-control" placeholder=""
                                        formControlName="phone">

                                    <small *ngIf="checkoutForm?.phone?.invalid && isSubmitted"
                                        class=" d-block text-danger">
                                        phone is required
                                    </small>
                                </div>

                                <div class="col-lg-6 mb-3">
                                    <label class="form-label">Email</label>
                                    <input type="text" class="form-control" placeholder="example@gmail.com"
                                        formControlName="email">
                                    <small *ngIf="checkoutForm?.email?.invalid && isSubmitted"
                                        class=" d-block text-danger">
                                        <span *ngIf="checkoutForm?.email?.errors!.required">email is required</span>
                                        <span *ngIf="checkoutForm?.email?.errors!.email">email is invalid</span>
                                    </small>
                                </div>
                            </div>

                            <label class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label"> Keep me up to date on news </span>
                            </label>

                            <hr class="my-4">

                            <h5 class="card-title"> Shipping info </h5>

                            <div class="row mb-3">
                                <div class="col-lg-4 mb-3">
                                    <div class="box box-check">
                                        <label class="form-check">
                                            <input class="form-check-input" type="radio" name="dostavka" checked="">
                                            <b class="border-oncheck"></b>
                                            <span class="form-check-label">
                                                Express delivery <br>
                                                <small class="text-muted">3-4 days via Fedex </small>
                                            </span>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-lg-4 mb-3">
                                    <div class="box box-check">
                                        <label class="form-check">
                                            <input class="form-check-input" type="radio" name="dostavka">
                                            <b class="border-oncheck"></b>
                                            <span class="form-check-label">
                                                Post office <br>
                                                <small class="text-muted">20-30 days via post</small>
                                            </span>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-lg-4 mb-3">
                                    <div class="box box-check">
                                        <label class="form-check">
                                            <input class="form-check-input" type="radio" name="dostavka">
                                            <b class="border-oncheck"></b>
                                            <span class="form-check-label">
                                                Self pick-up <br>
                                                <small class="text-muted"> Come to our shop </small>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-8 mb-3">
                                    <label for="" class="form-label">Address</label>
                                    <input type="text" class="form-control" placeholder="Type here"
                                        formControlName="address">
                                    <small *ngIf="checkoutForm?.address?.invalid && isSubmitted"
                                        class=" d-block text-danger">
                                        Address is required
                                    </small>
                                </div>

                                <div class="col-sm-4 mb-3">
                                    <label for="" class="form-label">City*</label>
                                    <select class="form-select" id="city*" aria-label="City*">
                                        <option value="1">New York</option>
                                        <option value="2">Moscow</option>
                                        <option value="3">Samarqand</option>
                                    </select>
                                </div>

                                <div class="col-sm-4 mb-3">
                                    <label for="" class="form-label">House</label>
                                    <input type="text" class="form-control" placeholder="Type here"
                                        formControlName="house">
                                    <small *ngIf="checkoutForm?.house?.invalid && isSubmitted"
                                        class=" d-block text-danger">
                                        House is required
                                    </small>
                                </div>

                                <div class="col-sm-4 col-6 mb-3">
                                    <label for="" class="form-label">Postal code</label>
                                    <input type="text" class="form-control" placeholder="Type here"
                                        formControlName="postalcode">
                                    <small *ngIf="checkoutForm?.postalcode?.invalid && isSubmitted"
                                        class=" d-block text-danger">
                                        Postal code is required
                                    </small>
                                </div>

                                <div class="col-sm-4 col-6 mb-3">
                                    <label for="" class="form-label">Zip</label>
                                    <input type="text" class="form-control" placeholder=" Type here"
                                        formControlName="zip">
                                    <small *ngIf="checkoutForm?.zip?.invalid && isSubmitted" class=" d-block text-danger">
                                        Zip is required
                                    </small>
                                </div>
                            </div>

                            <label class="form-check mb-4">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label"> Save this address </span>
                            </label>

                            <div class="mb-4">
                                <label for="" class="form-label">Message to seller</label>
                                <textarea class="form-control" formControlName="message"></textarea>
                            </div>

                            <div class="float-end">
                                <button class="btn btn-light me-2">Cancel</button>
                                <button class="btn btn-warning" (click)="placeOrder()">Continue</button>
                            </div>
                        </form>
                    </div>
                </article>
            </main>

            <aside class="col-xl-4 col-lg-4 bg-light">
                <article class="ms-lg-4 mt-4 mt-lg-0 summary-body" style="max-width: 320px">
                    <h5 class="card-title">Your Order</h5>

                    <dl class="dlist-align">
                        <dt>Total price:</dt>
                        <dd class="text-end"> ${{totalPrice}}</dd>
                    </dl>

                    <dl class="dlist-align">
                        <dt>Discount:</dt>
                        <dd class="text-end text-danger"> - $200.00 </dd>
                    </dl>

                    <dl class="dlist-align">
                        <dt>Shipping cost:</dt>
                        <dd class="text-end"> + $50.00 </dd>
                    </dl>

                    <hr>
                    <dl class="dlist-align">
                        <dt> Total: </dt>
                        <dd class="text-end"> <strong class="text-dark">${{totalPrice - 200 + 50}}</strong> </dd>
                    </dl>

                    <div class="input-group my-4">
                        <input type="text" class="form-control" name="" placeholder="Promo code">
                        <button class="btn btn-light text-warning">Apply</button>
                    </div>

                    <hr>
                    <h6 class="mb-4">Items in cart</h6>

                    <figure class="itemside align-items-center mb-4" *ngFor="let item of cartList">
                        <div class="aside">
                            <b class="badge bg-secondary rounded-pill">{{item?.quantity}}</b>
                            <img [src]="item?.product?.images[0]" class="img-sm rounded border">
                        </div>
                        <figcaption class="info">
                            <a routerLink="/products/{{item?.product?.id}}" class="title">{{item?.product?.title}}</a>
                            <div class="price text-muted">Price: ${{item?.product?.price}}</div>
                        </figcaption>
                    </figure>
                </article>
            </aside>
        </div>
        <br><br>
    </div>
</section>