<footer class="container footer-top">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-12 mb-40">
            <div class="footer-widget">

                <h4 class="widget-title">CONTACT INFO</h4>

                <p class="contact-info">
                    <span><i class="fa-solid fa-location-dot"></i> Address</span>
                    123 Park Avenue, <br>
                    New York, United States
                </p>

                <p class="contact-info">
                    <span><i class="fa-solid fa-phone"></i> Phone</span>
                    <a href="tel:+1 631 1234 5678">+1 631 1234 5678</a>
                </p>

                <p class="contact-info">
                    <span> <i class="fa-solid fa-envelope"></i> Mail</span>
                    <a href="mailto:email@website.com">email@website.com</a>
                </p>

            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-12 mb-40">
            <div class="footer-widget">

                <h4 class="widget-title">CUSTOMER CARE</h4>

                <ul class="link-widget">
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Cart</a></li>
                    <li><a href="#">Checkout</a></li>
                    <li><a href="#">Wishlist</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>

            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-12 mb-40">
            <div class="footer-widget">

                <h4 class="widget-title">INFORMATION</h4>

                <ul class="link-widget">
                    <li><a href="#">Track your order</a></li>
                    <li><a href="#">Locate Store</a></li>
                    <li><a href="#">Online Support</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                    <li><a href="#">Payment</a></li>
                </ul>

            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-12 mb-40">
            <div class="footer-widget">
                <h4 class="widget-title">Subscribe to our Newsletter</h4>
                <p>Subscribe to our newsletter and get 10% off your first purchase</p>
                <form id="Subscribe_form">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control emailInput" placeholder="Enter your email here" aria-label="Enter your email here"
                            aria-describedby="Subscribe_btn">
                        <button class="btn Subscribe_btn" type="button" id="Subscribe_btn">SUBSCRIBE</button>
                    </div>
                </form>
                <img src="assets/images/payment-support.png" class="PaymentImg" alt="Payment methods">
            </div>
        </div>
    </div>
</footer>
