<article class="card">
    <div class="content-body">

        <figure class="itemside align-items-center">
            <div class="aside">
                <span class="bg-gray icon-md rounded-circle">
                    <img src='assets/images/avatar.jpg'
                        class="icon-md rounded-circle">
                </span>
            </div>
            <figcaption class="info d-flex justify-content-between align-items-center">
                <h6 class="title">{{profile.name}}</h6>
                <button class="btn btn-warning rounded py-2 px-1" (click)="openEditModal(profile)">
                    <i class="fa fa-pen px-2"></i>
                </button>
            </figcaption>
        </figure>

        <hr>

        <div class="row g-2 mb-3">
            <div class="col-md-6">
                <article class="box bg-light">
                    <b class="mx-2 text-muted">
                        <i class="fa-solid fa-envelope"></i>
                    </b>
                    Email: {{profile.email}}
                </article>
            </div>
            <div class="col-md-6">
                <article class="box bg-light">
                    <b class="mx-2 text-muted">
                        <i class="fa-solid fa-phone-flip"></i>
                    </b>
                    Phone: +1234567890988
                </article>
            </div>
            <div class="col-md-6">
                <article class="box bg-light">
                    <b class="mx-2 text-muted">
                        <i class="fa-solid fa-user"></i>
                    </b>
                    {{profile.role}}
                </article>
            </div>
            <div class="col-md-6">
                <article class="box bg-light Address">
                    <b class="mx-2 text-muted">
                        <i class="fa fa-map-marker-alt"></i>
                    </b>
                    Moscow city, Street name, Building lenin, House 77
                </article>
            </div>
        </div>
    </div>
</article>

<div class="modal fade" [class.show]="isVisable" id="EditModal" tabindex="-1" role="dialog"
    aria-labelledby="EditModalLabel" [style]="isVisable?'display: block;':''">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditModalLabel">Edit User Data</h5>
                <button type="button text-muted" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="closeEditModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editUserFormGroup">
                    <div class="form-group">
                        <label for="fullName" class="col-form-label">Full Name:</label>
                        <input type="text" class="form-control" id="fullName" formControlName="name">
                        <small *ngIf="editUserForm.name.invalid && isSubmitted" class="d-block text-danger">
                            Name is required
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="emailAddress" class="col-form-label">Email Address:</label>
                        <input type="email" class="form-control" id="emailAddress" formControlName="email">
                        <small *ngIf="editUserForm.email.invalid && isSubmitted" class=" d-block text-danger">
                            <span *ngIf="editUserForm.email.errors?.required">Email is required</span>
                            <span *ngIf="editUserForm.email.errors?.email">Email is invalid</span>
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="userRole" class="col-form-label">Role:</label>
                        <input type="text" class="form-control" id="userRole" formControlName="role">
                        <small *ngIf="editUserForm.name.invalid && isSubmitted" class="d-block text-danger">
                            role is required
                        </small>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    (click)="closeEditModal()">Cancel</button>
                <button class="btn btn-warning" type="submit" (click)="onSubmit()">Eidt</button>
            </div>
        </div>
    </div>
</div>