/* You can add global styles to this file, and also import other style files */
@import url("assets/css/structure.css");
@import url("assets/css/nice-select.css");



.empty-img-default-ellipse {
    fill-opacity: 0.8;
    fill: #f5f5f5;
}

.empty-img-default-path-1 {
    fill: #aeb8c2;
}

.empty-img-default-path-2 {
    fill: url(#linearGradient-1);
}

.empty-img-default-path-3 {
    fill: #f5f5f7;
}

.empty-img-default-path-4 {
    fill: #dce0e6;
}

.empty-img-default-path-5 {
    fill: #dce0e6;
}

.empty-img-default-g {
    fill: #fff;
}