.breadcrumb.ondark .breadcrumb-item {
    color: #fff;
}

.breadcrumb.ondark a {
    color: inherit;
    opacity: .75;
}

.breadcrumb-item+.breadcrumb-item::before {
    float: left;
    padding-right: 0.7rem;
    color: rgba(33, 37, 41, 0.3);
    content: var(--bs-breadcrumb-divider, "❯");
}

.breadcrumb.ondark .breadcrumb-item::before {
    color: #fff;
    opacity: .6;
}


.rating-stars {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    white-space: nowrap;
    clear: both;
}

.rating-stars li {
    display: block;
    text-overflow: clip;
    white-space: nowrap;
    z-index: 1;
}

.rating-stars li.stars-active {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.label-rating {
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
}

.dot {
    font-style: normal;
    opacity: .5;
}

.dot:after {
    content: "•";
    display: inline-block;
}

.zoom-image {
    width: 100%;
    background-repeat: no-repeat;
    cursor: zoom-in;
}

.zoom-image:hover img {
    opacity: 0;
}

.zoom-image img {
    display: block;
    pointer-events: none;
}

::ng-deep .owl-carousel .owl-item.center {
    border: 3px solid #ff8100;
    border-radius: 12px;
}


@media only screen and (max-width: 992px) {
    h4.title.text-dark {
        margin-top: 10px;
    }
}


/*
    ----------------------------------------
    ======== quantity selectorstyle ========
    ----------------------------------------
*/
.quantity-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fb5231;
    border-radius: 999px;
    max-width: 6.25em;
    padding: 0.3125em 0.8125em;
}

.quantity-selector {
    max-width: 5em;
    padding: 0.1875em 0.625em;
}

.btn-quantity {
    color: #fff;
    padding: 0;
    font-size: 1.125em;
    line-height: 1;
    height: auto;
    border-radius: 2px;
    border-color: transparent;

}

.btn.btn-quantity[disabled] {
    cursor: not-allowed;
}

.btn-quantity:hover,
.btn-quantity:active {
    border-color: transparent;
}

.quantity-number {
    color: #fff;
    padding: 0 1.25em;
    font-size: .75em;
    cursor: default;
}


.title h4 {
    font-size: 52px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 1.2;
    letter-spacing: 0.5px;
    word-spacing: 2px;
}

.title span{
    color: #ff8100;
    font-family:  "Montserrat", sans-serif;
    font-weight:  700;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 0.5px;
    word-spacing: 2px;
}

::ng-deep .owl-nav{
    position: absolute;
    top: -53px;
    right: 0;
    transform: translateY(-50%);
}

::ng-deep .owl-theme .owl-nav [class*=owl-]{
    color: #fff;
    padding: 5px 7px;
    border-radius: 7px;
    background-color: #ff8100;
    border: none;
    outline: none;
    transition: all 0.3s ease-in-out;
}
::ng-deep .owl-theme .owl-nav [class*=owl-]:hover{
    outline: none;
    background-color: #ff8100;

}