<section class="bg-warning padding-y-sm rounded">
    <div class="container">

        <ol class="breadcrumb ondark mb-0">
            <li class="breadcrumb-item">
                <a href="#">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="#">Product</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Richtan Hero
            </li>
        </ol>
    </div>
</section>

<section class="padding-y">
    <div class="container">
        <div class="row">
            <aside class="col-lg-4">
                <owl-carousel-o [options]="slider1Settings" #myCarousel>
                    <ng-container *ngFor="let slide of product.images">
                        <ng-template carouselSlide [id]="slide.id">
                            <figure class="zoom-image"
                                style="background-image: url({{slide}});"
                                [style.backgroundPosition]="backgroundPos" (mousemove)="ZoomImage($event)">
                                <img class="rounded" src="{{slide}}" alt="clothes" srcset="">
                            </figure>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
                <owl-carousel-o id="controll" [options]="slider2Settings" (dragging)="nextSlide($event)">
                    <ng-container *ngFor="let slide of product.images">
                        <ng-template carouselSlide [id]="slide.id">
                            <img class="rounded" width="97" src="{{slide}}" alt="clothes" srcset="">
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>

                <!-- <article class="gallery-wrap">


                </article>  -->
                <!-- gallery-wrap .end// -->
            </aside>
            <main class="col-lg-6">
                <article class="ps-lg-3">
                    <h4 class="title text-dark">
                        {{product.title }}

                    </h4>
                    <div class="rating-wrap my-3">
                        <ul class="rating-stars">
                            <li style="width:80%" class="stars-active">
                                <img src="assets/images/stars-active.svg" alt="">
                            </li>
                            <li>
                                <img src="assets/images/starts-disable.svg" alt="">
                            </li>
                        </ul>
                        <b class="label-rating text-warning"> 4.5</b>
                        <i class="dot"></i>
                        <span class="label-rating text-muted">
                            <i class="fa fa-shopping-basket"></i> 154 orders
                        </span>
                        <i class="dot"></i>
                        <span class="label-rating text-success">In stock</span>
                    </div>

                    <!-- rating-wrap.// -->

                    <div class="mb-3">
                        <span class="price h5">${{product.price}}</span>
                        <span class="text-muted">/per box</span>
                    </div>

                    <p>
                        {{
                        product.description ||
                        ' Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto, quos aspernatur eum dolor
                        reprehenderit eos et libero debitis itaque voluptatem! Laudantium modi sequi, id numquam
                        liberosed quaerat. Eligendi, ipsum!'
                        }}
                    </p>

                    <dl class="row">
                        <dt class="col-3">Type:</dt>
                        <dd class="col-9">{{product.category.name}}</dd>

                        <dt class="col-3">Color:</dt>
                        <dd class="col-9">Brown</dd>

                        <dt class="col-3">Material:</dt>
                        <dd class="col-9">Cotton, Jeans </dd>

                        <dt class="col-3">Brand:</dt>
                        <dd class="col-9">Reebook </dd>
                    </dl>

                    <hr>

                    <div class="row mb-4">
                        <div class="col-md-4 col-6 mb-2">
                            <label class="form-label">Size</label>
                            <select class="form-select">
                                <option>Small</option>
                                <option>Medium</option>
                                <option>Large</option>
                            </select>
                        </div> <!-- col.// -->
                        <div class="col-md-4 col-6 mb-3">
                            <label class="form-label d-block">Quantity</label>
                            <div class="input-group input-spinner">
                                <button class="btn btn-icon btn-light" type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#999"
                                        viewBox="0 0 24 24">
                                        <path d="M19 13H5v-2h14v2z"></path>
                                    </svg>
                                </button>
                                <input class="form-control text-center" placeholder="" value="14">
                                <button class="btn btn-icon btn-light" type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#999"
                                        viewBox="0 0 24 24">
                                        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path>
                                    </svg>
                                </button>
                            </div> <!-- input-group.// -->
                        </div> <!-- col.// -->
                    </div> <!-- row.// -->

                    <a href="#" class="btn  btn-warning me-2"> Buy now </a>
                    <a href="#" class="btn  btn-primary me-2"> <i class="me-1 fa fa-shopping-basket"></i> Add to cart
                    </a>
                    <a href="#" class="btn  btn-light me-2"> <i class="me-1 fa fa-heart text-danger"></i> Save </a>

                </article> <!-- product-info-aside .// -->
            </main> <!-- col.// -->
        </div> <!-- row.// -->

    </div> <!-- container .//  -->
</section>